<%- include('../partials/header') %>
<h2>Flight Details</h2>
<section class='flight-details'>
    <div><strong>Airline:</strong></div>
    <div><%= flight.airline %></div>
    <div><strong>Airport:</strong></div>
    <div><%= flight.airport %></div>
    <div><strong>FlightNo:</strong></div>
    <div><%= flight.flightNo %></div>
    <div><strong>Depart Date:</strong></div>
    <div><%= flight.depart %></div>
</section>
</br>

<%- include('../partials/footer') %>