<%- include('../partials/header') %>
<h2>Flight Details</h2>
<section class='flight-details'>
    <div><strong>Airline:</strong></div>
    <div><%= flight.airline %></div>
    <div><strong>Airport:</strong></div>
    <div><%= flight.airport %></div>
    <div><strong>FlightNo:</strong></div>
    <div><%= flight.flightNo %></div>
    <div><strong>Depart Date:</strong></div>
    <div><%= flight.depart %></div>
</section>
</br>


<% if (tickets.length) { %>
    <table class="seating">
        <thead>
            <th>Seat</th>
            <th>Price</th>
        </thead>
        </table>
    </br>
        <tbody>
            <%tickets.forEach(function(t) {%>
                <td><%= t.seat%></td>
                <td><%= t.price%></td>
                <% }); %>
            </br>
        </tbody>
    </table>
    <% } else {%>
        <h5>No Tickets Created</h5>
    <% } %>

  <a href="/flights/<%= flight._id %>/tickets/new">New Ticket</a>



<%- include('../partials/footer') %>