<%- include('../partials/header') %>
<h2>Flight Details</h2>
<section class='flight-details'>
    <div>Airline:</div>
    <div><%= flight.airline %></div>
    <div>Airport:</div>
    <div><%= flight.airport %></div>
    <div>FlightNo:</div>
    <div><%= flight.flightNo %></div>
    <div>Depart Date:</div>
    <div><%= flight.depart %></div>
</section>
</br>

<%- include('../partials/footer') %>